/*
Theme Name: Turfjobs
Author: Craig Ramsay
Author URI: http://www.malinkymedia.com
Description: Theme for www.turfjobs.co.uk
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

/* ==========================================================================
   Contents
   ========================================================================== */

/*
Normalize
My Styles - Main Responsive Divs
My Styles - Header
My Styles - Footer
My Styles - Content
My Styles - Home
My Styles - Job Manager
My Styles - Flexisel
My Styles - Visitor Feedback
My Styles - Mailchimp Signup
My Styles - Random Styles
My Styles - Sidebar
My Styles - IE Styles
Helper Classes
Media Queries
*/

/* ==========================================================================
   Normalize
   ========================================================================== */

        /*! normalize.css v1.1.3 | MIT License | git.io/normalize */

        /* ==========================================================================
           HTML5 display definitions
           ========================================================================== */

        /**
         * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
         */

        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        main,
        nav,
        section,
        summary {
            display: block;
        }

        /**
         * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
         */

        audio,
        canvas,
        video {
            display: inline-block;
            *display: inline;
            *zoom: 1;
        }

        /**
         * Prevent modern browsers from displaying `audio` without controls.
         * Remove excess height in iOS 5 devices.
         */

        audio:not([controls]) {
            display: none;
            height: 0;
        }

        /**
         * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
         * Known issue: no IE 6 support.
         */

        [hidden] {
            display: none;
        }

        /* ==========================================================================
           Base
           ========================================================================== */

        /**
         * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
         *    `em` units.
         * 2. Prevent iOS text size adjust after orientation change, without disabling
         *    user zoom.
         */

        html {
            font-size: 100%; /* 1 */
            -ms-text-size-adjust: 100%; /* 2 */
            -webkit-text-size-adjust: 100%; /* 2 */
        }

        /**
         * Address `font-family` inconsistency between `textarea` and other form
         * elements.
         */

        html,
        button,
        input,
        select,
        textarea {
            font-family: sans-serif;
        }

        /**
         * Address margins handled incorrectly in IE 6/7.
         */

        body {
            margin: 0;
        }

        /* ==========================================================================
           Links
           ========================================================================== */

        /**
         * Address `outline` inconsistency between Chrome and other browsers.
         */

        a:focus {
            outline: thin dotted;
        }

        /**
         * Improve readability when focused and also mouse hovered in all browsers.
         */

        a:active,
        a:hover {
            outline: 0;
        }

        /* ==========================================================================
           Typography
           ========================================================================== */

        /**
         * Address font sizes and margins set differently in IE 6/7.
         * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
         * and Chrome.
         */

        h1 {
            font-size: 2em;
            margin: 0.67em 0;
        }

        h2 {
            font-size: 1.5em;
            margin: 0.83em 0;
        }

        h3 {
            font-size: 1.17em;
            margin: 1em 0;
        }

        h4 {
            font-size: 1em;
            margin: 1.33em 0;
        }

        h5 {
            font-size: 0.83em;
            margin: 1.67em 0;
        }

        h6 {
            font-size: 0.67em;
            margin: 2.33em 0;
        }

        /**
         * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
         */

        abbr[title] {
            border-bottom: 1px dotted;
        }

        /**
         * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
         */

        b,
        strong {
            font-weight: bold;
        }

        blockquote {
            margin: 1em 40px;
        }

        /**
         * Address styling not present in Safari 5 and Chrome.
         */

        dfn {
            font-style: italic;
        }

        /**
         * Address differences between Firefox and other browsers.
         * Known issue: no IE 6/7 normalization.
         */

        hr {
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            height: 0;
        }

        /**
         * Address styling not present in IE 6/7/8/9.
         */

        mark {
            background: #ff0;
            color: #000;
        }

        /**
         * Address margins set differently in IE 6/7.
         */

        p,
        pre {
            margin: 1em 0;
        }

        /**
         * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
         */

        code,
        kbd,
        pre,
        samp {
            font-family: monospace, serif;
            _font-family: 'courier new', monospace;
            font-size: 1em;
        }

        /**
         * Improve readability of pre-formatted text in all browsers.
         */

        pre {
            white-space: pre;
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        /**
         * Address CSS quotes not supported in IE 6/7.
         */

        q {
            quotes: none;
        }

        /**
         * Address `quotes` property not supported in Safari 4.
         */

        q:before,
        q:after {
            content: '';
            content: none;
        }

        /**
         * Address inconsistent and variable font size in all browsers.
         */

        small {
            font-size: 80%;
        }

        /**
         * Prevent `sub` and `sup` affecting `line-height` in all browsers.
         */

        sub,
        sup {
            font-size: 75%;
            line-height: 0;
            position: relative;
            vertical-align: baseline;
        }

        sup {
            top: -0.5em;
        }

        sub {
            bottom: -0.25em;
        }

        /* ==========================================================================
           Lists
           ========================================================================== */

        /**
         * Address margins set differently in IE 6/7.
         */

        dl,
        menu,
        ol,
        ul {
            margin: 1em 0;
        }

        dd {
            margin: 0 0 0 40px;
        }

        /**
         * Address paddings set differently in IE 6/7.
         */

        menu,
        ol,
        ul {
            padding: 0 0 0 40px;
        }

        /**
         * Correct list images handled incorrectly in IE 7.
         */

        nav ul,
        nav ol {
            list-style: none;
            list-style-image: none;
        }

        /* ==========================================================================
           Embedded content
           ========================================================================== */

        /**
         * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
         * 2. Improve image quality when scaled in IE 7.
         */

        img {
            border: 0; /* 1 */
            -ms-interpolation-mode: bicubic; /* 2 */
        }

        /**
         * Correct overflow displayed oddly in IE 9.
         */

        svg:not(:root) {
            overflow: hidden;
        }

        /* ==========================================================================
           Figures
           ========================================================================== */

        /**
         * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
         */

        figure {
            margin: 0;
        }

        /* ==========================================================================
           Forms
           ========================================================================== */

        /**
         * Correct margin displayed oddly in IE 6/7.
         */

        form {
            margin: 0;
        }

        /**
         * Define consistent border, margin, and padding.
         */

        fieldset {
            border: 1px solid #c0c0c0;
            margin: 0 2px;
            padding: 0.35em 0.625em 0.75em;
        }

        /**
         * 1. Correct color not being inherited in IE 6/7/8/9.
         * 2. Correct text not wrapping in Firefox 3.
         * 3. Correct alignment displayed oddly in IE 6/7.
         */

        legend {
            border: 0; /* 1 */
            padding: 0;
            white-space: normal; /* 2 */
            *margin-left: -7px; /* 3 */
        }

        /**
         * 1. Correct font size not being inherited in all browsers.
         * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
         *    and Chrome.
         * 3. Improve appearance and consistency in all browsers.
         */

        button,
        input,
        select,
        textarea {
            font-size: 100%; /* 1 */
            margin: 0; /* 2 */
            vertical-align: baseline; /* 3 */
            *vertical-align: middle; /* 3 */
        }

        /**
         * Address Firefox 3+ setting `line-height` on `input` using `!important` in
         * the UA stylesheet.
         */

        button,
        input {
            line-height: normal;
        }

        /**
         * Address inconsistent `text-transform` inheritance for `button` and `select`.
         * All other form control elements do not inherit `text-transform` values.
         * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
         * Correct `select` style inheritance in Firefox 4+ and Opera.
         */

        button,
        select {
            text-transform: none;
        }

        /**
         * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
         *    and `video` controls.
         * 2. Correct inability to style clickable `input` types in iOS.
         * 3. Improve usability and consistency of cursor style between image-type
         *    `input` and others.
         * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
         *    Known issue: inner spacing remains in IE 6.
         */

        button,
        html input[type="button"], /* 1 */
        input[type="reset"],
        input[type="submit"] {
            -webkit-appearance: button; /* 2 */
            cursor: pointer; /* 3 */
            *overflow: visible;  /* 4 */
        }

        /**
         * Re-set default cursor for disabled elements.
         */

        button[disabled],
        html input[disabled] {
            cursor: default;
        }

        /**
         * 1. Address box sizing set to content-box in IE 8/9.
         * 2. Remove excess padding in IE 8/9.
         * 3. Remove excess padding in IE 7.
         *    Known issue: excess padding remains in IE 6.
         */

        input[type="checkbox"],
        input[type="radio"] {
            box-sizing: border-box; /* 1 */
            padding: 0; /* 2 */
            *height: 13px; /* 3 */
            *width: 13px; /* 3 */
        }

        /**
         * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
         * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
         *    (include `-moz` to future-proof).
         */

        input[type="search"] {
            -webkit-appearance: textfield; /* 1 */
            -moz-box-sizing: content-box;
            -webkit-box-sizing: content-box; /* 2 */
            box-sizing: content-box;
        }

        /**
         * Remove inner padding and search cancel button in Safari 5 and Chrome
         * on OS X.
         */

        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-decoration {
            -webkit-appearance: none;
        }

        /**
         * Remove inner padding and border in Firefox 3+.
         */

        button::-moz-focus-inner,
        input::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

        /**
         * 1. Remove default vertical scrollbar in IE 6/7/8/9.
         * 2. Improve readability and alignment in all browsers.
         */

        textarea {
            overflow: auto; /* 1 */
            vertical-align: top; /* 2 */
        }

        /* ==========================================================================
           Tables
           ========================================================================== */

        /**
         * Remove most spacing between table cells.
         */

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #484848;    
}

input:-ms-input-placeholder {
    color: #cccccc; /*ie10 bug with placeholders js*/
}

body {
    /*font-family: "Open Sans", Helvetica, Arial, sans-serif;*/
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    color: #484848;
    line-height: 1.5; 
    text-align: center; /*ie6 check*/
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
    vertical-align: middle;
    max-width: 100%;
}

/*
 * Add to non responsive images that don't want shrinking
 */
img.non_responsive {
    max-width: none;
} 

/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    overflow: auto; 
    vertical-align: top;    
    resize: vertical;
}

/*
 * always set my heading text and color
 */
h1, h2, h3, h4, h5, h6 {
}

/*
 * always 0 heading margin from normalize.css
 */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

h1 {
    font-size: 1.57142857142em; /*22/14*/
}

h2 {
    font-size: 1.28571428571em; /*18/14*/
}

h3.content {
    font-size: 1.14285714285em; /*16/14*/
    border-bottom: 2px solid #e4e4e4;
}
/*
 * always set my own links
 */
a,
a:visited {
    color: #00793a;
    font-weight: bold;
    text-decoration: none;
}

/*
 * always set my own links
 */
a:hover {
    text-decoration: underline;
}

/*
 * always set my own p size
 */
p {
}

/*
 * sometimes it need zero'ing
 */
p.p_no_margin {
    margin: 0;
}

p:first-child {
    margin-top: 0;
}

/*
 * always set my own ul, ol size
 */
ul,
ol {
}

/*
 * always use to neutralise a list
 */
ul.list_no_style,
ol.list_no_style {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

/* ==========================================================================
   My Styles - Main Responsive Divs
   ========================================================================== */

.wrap {
    width: 100%;    
    max-width: 990px;
    text-align: left; /*ie6 check*/
    margin: 0 auto;
    padding-top: 10px;
}

/*
 * normal wrap inner with margin to make 980
 */
.wrap_inner {
    margin: 0 5px;
}

.col_span_10_10 {
    width: 100%;
}

.col_span_9_10 {
    width: 89.795918367%;
}

.col_span_8_10 {
    width: 79.591836735%;
}

.col_span_7_10 {
    width: 69.387755102%;
}

.col_span_6_10 {
    width: 59.183673469%;
}

.col_span_5_10 {
    width: 48.979591837%;
}

.col_span_4_10 {
    width: 38.775510204%;
}

.col_span_3_10 {
    width: 28.571428571%;
}

.col_span_2_10 {
    width: 18.367346938%;
}

.col_span_1_10 {
    width: 8.163265306%;
}

.col {
    float: left;
    margin: 0 0 0 2.040816327%;
}

.col:first-child {
    margin-left: 0;
}

/* ==========================================================================
   My Styles - Header
   ========================================================================== */

#login_bar {
    text-align: right;
    background: #FFFFFF;
}

#login_bar span {
    font-weight: bold;
}

#login_bar p {
    display: inline-block;
    margin: 0;
}

p#logged_in_as {
    margin-right: 10px;
}

#login_bar_mobile {
    display: none;
    position: fixed;
    width: 100%;   
    z-index: 9999;    
    text-align: right;
    background: #FFFFFF;
    padding: 4px 0;
}

#login_bar_mobile span {
    font-weight: bold;
}

#login_bar_mobile p {
    display: inline-block;
    margin: 0 5px 0 0;
}

#nav .col_span_8_10 {
    border-top: 2px solid #e4e4e4;
}

#nav #menu-employer-container {
    float: left;
    /*border-top: 2px solid #e4e4e4;*/
    border-bottom: 2px solid #e4e4e4;  
    height: 74px;  
}

#nav ul {
    margin: 0;
    padding: 16px 0;
    list-style-type: none;
    display: inline-block;
}

#nav ul.menu li {
    float: left;
    margin-left: 4px;
}

#nav ul.menu li:first-child {
    margin-left: 0;
}

#nav ul.menu li a {
    display: inline-block;
    padding: 9px 15px;
    background: #484848;
    color: #FFFFFF;
    font-size: 1.14285714285em; /*16/14*/
    text-decoration: none;
    font-weight: normal;
}

#nav ul.menu li a:hover {
    background: #767676;
}

#nav_mobile {
    display: none;
    position: fixed;
    width: 100%;   
    z-index: 9999;
    background: #484848;
    margin-top: 29px; /*nudge to show mobiel login bar*/
}

#nav_mobile_menu {
    display: none;
}

.nav_mobile_icon {
    display: none;
}

#nav_mobile_toggle {
    display: none;
    clear: both;    
}

#nav_mobile_logo {
    display: none;
    text-align: center;
    padding-top: 78px;
}

#nav_mobile_menu a {
    display: inline-block;
    font-size: 1.14285714285em; /*16/14*/
    font-weight: normal;
    padding: 4px 7px 4px 5px; /*set padding same as dropdown nav*/
}

#nav_mobile_menu_nudge {
    display: inline-block; /*nudge menu text down slightly as using inline image now*/
    margin-top: 3px;
}

#nav_mobile_menu a .fa {
    margin-top: 4px;
    font-size: 1.7em;
}   

#nav_mobile_menu a:link,
#nav_mobile_menu a:visited {
    color: #FFFFFF;        
    text-decoration: none;
}

#nav_mobile_menu a:focus {
    outline: none; /*remove dotted border normalize.css*/
}

.nav_mobile_icon a {
    color: #fff;
    font-size: 2em;
}

#nav_mobile_toggle li {
    margin-bottom: 0;
    border-top: 1px solid #767676;
}

/*#nav_mobile_toggle li:last-child {
    border-bottom: none;
}*/

#nav_mobile_toggle li:hover {
    background: #767676;   
}

#nav_mobile_toggle li a {
    display: block;
    height: 26px; /*36*/
    padding-top: 10px;
    padding-left: 5px;    
    text-decoration: none;
    color: #FFFFFF;    
    font-weight: normal;
}

#social_media {
    float: right;
    padding: 16px 0 18px 0;
    /*border-top: 2px solid #e4e4e4;*/
    background: url(img/social_bottom.png) 0 100% no-repeat;
}

#social_media a {
    float: left;
    margin-left: 4px;
    width: 42px;
    height: 42px;
    color: #fff;
    font-size: 2.5em;
    line-height: 42px;
    text-align: center;
}

#social_media a.desk-twitter {
    background: #2aa9e0;
}

#social_media a.desk-facebook {
    background: #3b579d;
}

#social_media a.desk-rss {
    background: #fb7629;
}

#social_media a.desk-linked {
    background: #007ab5;
}

#social_media a:first-child {
    margin-left: 0;
}

.current-menu-item a,
.current_page_item a,
.current-page-ancestor a,
.jobs_menu_active_class a {
    background: #767676 !important;
}

#nav ul.menu li.employer_turf_jobs_home_class a:link,
#nav ul.menu li.employer_turf_jobs_home_class a:visited,
#nav_mobile_toggle li.employer_turf_jobs_home_class a {
    background: #00793a;
}

#nav ul.menu li.employer_turf_jobs_home_class a:hover,
#nav_mobile_toggle li.employer_turf_jobs_home_class a:hover {
    background: #767676;
} 

/* ==========================================================================
   My Styles - Footer
   ========================================================================== */

#footer {
    border-top: 2px solid #bebebe;
    border-bottom: 2px solid #bebebe;
    padding: 5px 0;
}

#footer p {
    margin: 0;
}

#footer .col_span_7_10 {
    text-align: right;
}

#footer a {
    margin-left: 20px;
}

#footer a:first-child {
    margin-left: 0;
}

#footer_bottom {
    margin-top: 1em;
    text-align: center;
    font-size: 0.85714285714em; /*13/14*/
}

/*remove iphone styling on vatnumber*/
#footer_bottom a[href^=tel] {
    color: #484848;
    text-decoration: none;
    font-weight: normal;
}

/* ==========================================================================
   My Styles - Content
   ========================================================================== */

#content,
#content_with_sidebar {
    margin: 20px 0 40px 0;
}

form#contact_form {
    margin-top: 20px;
}

/* ==========================================================================
   My Styles - Home
   ========================================================================== */

#home_search .fixed_height_225 {
    min-height: 225px; /*set height of bullets points*/
}

ul.home_search_tab_headings {
    height: 42px; /*set height so equal in browsers*/
}

ul.home_search_tab_headings li {
    float: left;
}

ul.home_search_tab_headings li.home_search_tab {
    display: inline-block;
    padding: 9px 15px 9px 0;   
    font-size: 1.14285714285em; /*16/14*/
    font-weight: bold;
}

ul.home_search_tab_headings li a:link,
ul.home_search_tab_headings li a:visited {
    display: inline-block;
    padding: 9px 15px;   
    font-weight: normal;
    font-size: 1.14285714285em; /*16/14*/
}

ul.home_search_tab_headings li a:hover {
    background: #00793a;
    color: #FFFFFF;
    text-decoration: none;
}

ul.home_search_tab_headings li a.active { 
    background: #00793a;
    color: #FFFFFF;
}

ul.home_search_tabs {
    background: #00793a;
    padding: 15px 0;
    /*min-height: 153px; /*set to match tick boxes on right made from 42px height of tab + 30 padding -225px*/
    min-height: 291px;
}

ul.home_search_tabs li {
    /*margin-top: 6px;*/
    line-height: 2em;
}

ul.home_search_tabs li:first-child {
    margin-top: 0;
}

ul.home_search_tabs li a {
    color: #FFFFFF;
    font-weight: normal;
}

ul#job_title {
    padding-left: 188px;
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-count: 2;   
     column-width: 50%;
    -moz-column-width: 50%; /* Firefox */
    -webkit-column-width: 50%; /* Safari and Chrome */
}

ul#job_location {
    padding-left: 279px;
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-count: 2;   
     column-width: 50%;
    -moz-column-width: 50%; /* Firefox */
    -webkit-column-width: 50%; /* Safari and Chrome */    
}

ul#organisation_type {
    padding-left: 370px;
}

ul#job_type {
    padding-left: 531px;
}

h2#home_bullets_header {
    height: 42px;
    color: #f49316;
    line-height: 1.1em;
    border-bottom: 2px solid #e4e4e4;
    margin: 0;
}

h2#home_bullets_header span {
    display: block;
}

h3#home_bullets_sub_header {
    color: #f49316;
    line-height: 1.1em;
    margin: 0.5em 0;
}

ul#home_bullets {
    border-bottom: 2px solid #e4e4e4;
}

ul#home_bullets li {
    font-weight: bold;
    margin-bottom: 8px;
}

ul#home_bullets li:before {
    font-family: "FontAwesome";
    content: "\f00c";
    color: #00793a;
    font-size: 1.4em;
    margin-right: 10px;
}

#home_content {
    margin-top: 30px;
}

#home_carousel {
    margin-top: 30px;
}

#home_award {
    margin-top: 30px;
}

#home_banner {
    border-top: 2px solid #3086b8;
    border-bottom: 2px solid #3086b8;
    padding: 2px 0;
    margin-bottom: 30px;
    position: relative;
}

#home_banner h3 {
    text-align: center;
    margin-bottom: 0;
    padding: 4px 0;
    font-size: 1.14285714285em;
}

#home_banner .button {
    position: absolute;
    right: 0;
    top: -6px;
    background: #3086b8;
    margin-top: 6px;
    border-radius: 0;
}

/* ==========================================================================
   My Styles - Job Manager
   ========================================================================== */

/*--------EMPLOYER BACKEND--------*/

#register_form {
    margin-top: 16px;
}

#submit-job-form {
    margin-top: 30px;
}

fieldset {
    border: 2px solid #bebebe;
    padding: 20px;
    margin-bottom: 40px;
}

legend {
    font-size: 1.14285714285em; /*16/14*/
    font-weight: bold;
    padding: 0 10px;
}

input,
select {
    width: 100%;
    border-radius: 3px;
    padding: 6px;    
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;        
}

textarea {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 6px; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;           
}

select {
    height: 30px;
}

input[type='radio'] {
    width: auto;
    margin-right: 10px;
    height: 14px;
}

input[type='checkbox'] {
    margin-top: 10px;
    width: auto;
    height: auto;
}

input[type='checkbox']#register_tandc,
input[type='checkbox']#register_marketing_1 {
    margin-right: 10px;
}

input[type='file'] {
    height: auto;
}

label {
    display: block;
    height: 25px;
    margin-top: 5px;
}

/*add styling for tincy mce editor*/
.wp-editor-container {
    border: 1px solid #cccccc;
    border-radius: 3px;
}

img#employer_form_company_logo {
    margin-top: 20px;
    text-align: center;
}

.field {
    border-top: 1px solid #ebebeb;
    padding: 20px 0;
}

.field small,
#email_newsletter_form small {
    font-size: 0.92857142857em; /*13/14*/
    color: #999;
}

.field_error_icon {
    float: right;
    width: 30px;
    height: 30px;
}

.field_error_tick {
    background: url(img/tick.png) 0 50% no-repeat;
}

.field_error_cross {
    background: url(img/cross.png) 0 50% no-repeat;
}

p.error {
    color: #fb4040;
}

table.employer_dashboard {
    width: 100%;
    margin-top: 30px;
}

table.employer_dashboard thead tr {
    font-size: 1.14285714285em;
}

table.employer_dashboard thead {
    border-bottom: 2px solid #bebebe;
}

table.employer_dashboard th {
    text-align: left; /*target all ie which centered th*/
}

table.employer_dashboard tbody td {
    padding: 15px 0;
}

table.employer_dashboard tbody tr {
    border-bottom: 2px solid #f6f6f6;
}

h2#job_listing_preview {
    border: 2px solid #81c178;
    padding: 4px;
    font-weight: bold;    
    font-style: italic;
    margin: 1em 0;
    background: #f6f6f6;
    margin-top: 30px;
}

.job_listing_preview {
    margin-top: 30px;
}

/*--------JOB FILTERS--------*/

form.job_filters {
    background: #f6f6f6;
    padding: 10px 20px 10px 10px;    
}

form.job_filters h4 {
    font-size: 1.14285714285em; /*16/14*/
    margin: 1em 0;
}

form.job_filters li {
    color: #00793a;
    font-weight: bold;
}

form.job_filters li label {
    height: auto;
}

form.job_filters input[type='checkbox'] {
    float: right;
    margin-top: 5px;
}

h3#filter_jobs_heading {
    font-size: 1.28571428571em; /*18/14*/
    background: #00793a;
    height: 32px; /*36*/
    padding: 4px 10px 0 10px;
    color: #FFFFFF;
    font-weight: normal;
    margin: 0;
}

.job_types label {
    margin-top: 12px;
}

/*--------JOB LISTINGS--------*/

/*div showing jobs that are listed 3 permanent etc*/    
.showing_jobs {
    border-top: 2px solid #bebebe;
    border-bottom: 2px solid #bebebe;
    height: 25px; /*36*/
    padding-top: 7px; 
    font-style: italic;
}

.showing_jobs a {
    float: right;
}

a.load_more_jobs {
    text-align: center;
}

ul.job_listings li.no_job_listings_found {
    border: 2px solid #81c178;
    padding: 4px;
    font-weight: bold;    
    font-style: italic;
    margin: 0;
    background: #f6f6f6;
}

ul.job_listings li {
    position: relative;
    margin: 20px 0;
    padding-bottom: 30px;
    border-bottom: 2px solid #e4e4e4;
}

ul.job_listings h4.job_listings_title {
    font-size: 1.14285714285em; /*16/14*/
    margin: 0 0 1em 0;
}

ul.job_listings table.job_listings_table {
    margin-bottom: 1em;
}

ul.job_listings table.job_listings_table td:first-child {
    font-weight: bold;
    padding-right: 30px;
}

ul.job_listings img.job_listings_logo {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 240px;
    max-height: 100px;
}

.job_listings_description p {
    margin-bottom: 0;
}

table.job_listings_table .job_listings_job_type {
    color: #f49316;
    font-weight: bold 
}

ul.job_listings.loading {
    background: url(img/loading.gif) 50% 0 no-repeat;
    height: 66px;
    margin-top: 10px;
}

.load_more_jobs.loading {
    background: url(img/ajax-loader.gif) 50% 0 no-repeat;
}

.load_more_jobs {
    margin-top: 40px;
}

/*--------APPRENTICESHIP LISTINGS--------*/

/*div showing jobs that are listed 3 permanent etc*/    
.ext_app_showing_jobs {
    border-top: 2px solid #bebebe;
    border-bottom: 2px solid #bebebe;
    height: 25px; /*36*/
    padding-top: 7px; 
    font-style: italic;
    margin-top: 20px;
}

.ext_app_showing_jobs a {
    float: right;
}

ul.ext_app_listings li {
    position: relative;
    margin: 20px 0;
    padding-bottom: 30px;
    border-bottom: 2px solid #e4e4e4;
}

ul.ext_app_listings h4.ext_app_listings_title {
    font-size: 1.14285714285em; /*16/14*/
    margin: 0 0 1em 0;
}

ul.ext_app_listings table.ext_app_listings_table {
    margin-bottom: 1em;
}

ul.ext_app_listings table.ext_app_listings_table td:first-child {
    font-weight: bold;
    padding-right: 30px;
}

ul.ext_app_listings img.ext_app_listings_logo {
    position: absolute;
    right: 0;
    top: 0;
    max-height: 80px;
}

.ext_app_listings_description p {
    margin-bottom: 0;
}

table.job_listings_table .job_listings_job_type {
    color: #f49316;
    font-weight: bold 
}

img.filters_apprenticeships_logo {
    display: block;
    margin: 0 auto;
}

/*--------SINGLE JOB LISTING--------*/

#job_listing_meta {
    border-top: 2px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
    padding: 10px 0;
    margin-bottom: 30px;
}

#job_listing_meta #job_listing_type {
    float: left;
    padding: 10px 8px;
    color: #FFFFFF;
    margin: 0;    
}

#job_listing_meta #job_listing_organisation_type {
    float: left;
    background: #3086b8;
    padding: 10px 8px;
    color: #FFFFFF;   
    margin: 0 0 0 5px;     
}

#job_listing_meta .job_listing_meta_data {
    display: inline-block;
    margin-left: 20px;
}

#job_listing_meta .job_listing_meta_data:first-child {
    margin-left: 0;
}

#job_listing_meta .job_listing_meta_data p {
    margin: 0;
}

#job_listing_meta span.job_listing_meta_label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

#job_listing_content {
    margin-bottom: 20px; 
}

#job_listing_content img.job_listings_logo {
    display: block;
    margin: auto;
    max-width: 180px;
}

#job_listing_company {
    padding-top: 30px;
    border-top: 2px solid #e4e4e4;
    margin-bottom: 30px;
}

#job_listing_company_social {
    margin-top: 30px;
}

#job_listing_company_social a {
    display: inline-block;
    height: 24px;
    padding-left: 30px;
    padding-top: 2px;
    margin-right: 20px;   
}

#job_listing_company_twitter {

    background: url(img/company_twitter.png) no-repeat;
}

#job_listing_company_facebook {
  
    background: url(img/company_facebook.png) no-repeat;
}

#job_listing_company_googleplus {
   
    background: url(img/company_googleplus.png) no-repeat;
}

#job_listing_company_social a#job_listing_company_website {
    padding-left: 0;    
}

/*#job_listing_meta p.permanent {
    background: #f49316;
}

#job_listing_meta p.temporary {
    background: #3086b8;
}

#job_listing_meta p.fixed-term {
    background: #c23c94;
}*/

#job_listing_meta #job_listing_type {
    background: #f49316;   
}

/*--------SINGLE JOB LISTING--------*/

.job-manager-message,
.job-manager-info,
p.message {
    border: 2px solid #81c178;
    padding: 4px;
    font-weight: bold;    
    font-style: italic;
    margin: 1em 0;
    background: #f6f6f6;
}
  
.job-manager-error {
    border: 2px solid #fb4040;
    padding: 4px;
    font-weight: bold;
    font-style: italic;    
    margin: 1em 0;  
    background: #f6f6f6;  
}

/* ==========================================================================
   My Styles - Flexisel
   ========================================================================== */

#home_banner .button:hover {
    background: #1571a6;
}

.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
}
.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;   
    text-align: center;  
}

.nbs-flexisel-inner {
    overflow: hidden;
    float: left;
    width: 100%;
}

.nbs-flexisel-item {
    float: left;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    position: relative;
    line-height: 0px;
}
.nbs-flexisel-item img {
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 70px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left {
    width: 33px;
    height: 50px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
}

.nbs-flexisel-nav-left:before {   
    font-family: "FontAwesome";
    content: "\f053";
    color: #81c178;
    font-size: 4em;
    line-height: 50px;
    left: 5px;
}

.nbs-flexisel-nav-right {
    width: 33px;
    height: 50px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    right: 5px;
}

.nbs-flexisel-nav-right:before {    
    font-family: "FontAwesome";
    content: "\f054";
    color: #81c178;
    font-size: 4em;
    line-height: 50px;
}

.nbs-flexisel-nav-left:hover:before {
    color: #00793a; 
}

.nbs-flexisel-nav-right:hover:before {
    color: #00793a;
}

/* ==========================================================================
   My Styles - Visitor Feedback
   ========================================================================== */

.visitor_feedback {
    margin-top: 30px;
}

.visitor_feedback_name,
.visitor_feedback_widget_name {
    margin-bottom: 0;
    font-weight: bold;
}

.visitor_feedback_position,
.visitor_feedback_widget_position {
    margin-top: 0;
    font-style: italic;
}

.visitor_feedback_widget img {
    float: left;
    margin-right: 20px;
}

.visitor_feedback_widget p {
    margin-top: 0;
}

.visitor_feedback_widget p.visitor_feedback_widget_name {
    clear: both;
    margin-top: 1em;    
}

/* ==========================================================================
   My Styles - Mailchimp Signup
   ========================================================================== */

#mc_embed_signup h2 {
    font-size: 1.14285714285em !important; /*16/14*/
    border-bottom: 2px solid #e4e4e4;
    margin: 1em 0 !important;
}

#mc_embed_signup .indicates-required {
    display: none !important;
}

#mc-embedded-subscribe {
    margin: 1em 0;
}

.sidebar_block.home #mc-embedded-subscribe {
    margin: 1em 0 0 0;
}

/* ==========================================================================
   My Styles - Random Styles
   ========================================================================== */

a.back_top {
    float: right;    
    display: block;
    width: 30px;
    height: 26px;    
    cursor: pointer; 
    background: url(img/backtotop.png) no-repeat 0 -216px;
}

#nav_mobile_icon a.back_top {
    background: none;
    width: auto;
    height: auto;
}

.bold_text {
    font-weight: bold;
}

.button {
    width: auto;
    height: auto;
    display: inline-block;
    padding: 10px;
    background: #81c178;
    border: none;
    color: #FFFFFF;
    border-radius: 3px; 
    font-weight: normal;   
    line-height: normal;
}

.button.red {
    background: #fb4040;
}

.button:first-child {
    margin-left: 0;
}

.button:hover {
    background: #5ca752;
    text-decoration: none;
}

.button.red:hover {
    background: #e01f1f;
}

.button:visited {
    color: #FFFFFF;
}

.button_full_width {
    display: block;
    width: 100%;
    padding: 10px 0;    
}

.employer_dashboard .button {
    margin-left: 4px;
}

table.cookies_table td {
    padding: 15px 5px;
}

.addthis_toolbox {
    margin-bottom: 20px;
}

/* ==========================================================================
   My Styles - Sidebar
   ========================================================================== */

.sidebar_block {
    margin-top: 30px;
}

.sidebar_block.home {
    margin-top: 0;
}

.sidebar_block.first {
    margin-top: 0;
}

.sidebar_block .button,
.sidebar_block_app_mobile .button {
    float: right;
}

.sidebar_block_app_mobile {
    display: none;
    margin-top: 50px;
}

.sidebar_block.no_job_listings_sidebar {
    margin-top: 0;
}


h3#careers_advice_heading {
    font-size: 1.28571428571em; /*18/14*/
    background: #00793a;
    height: 32px;
    padding: 4px 10px 0 10px;
    color: #FFFFFF;
    font-weight: normal;
    margin: 0;
}

#careers_advice_sidebar {
    background: #f6f6f6;
    padding: 10px 20px 10px 10px;    
}

#careers_advice_sidebar li {
    margin-top: 5px;
}

#careers_advice_sidebar li.current_page_item a {
    background: none !important;
    text-decoration: underline;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.alignleft {
    margin: 0 24px 7px 0;
}

img.alignright {
    margin: 0 0 7px 24px;
}

img.aligncenter {
    margin-top: 0;
    margin-bottom: 7px;
}

p.single_blog_date {
    margin: 0;
    font-size: 0.85714285714em; /*12/14*/
}

/* ==========================================================================
   My Styles - IE Styles
   ========================================================================== */

.lt-ie7 {

}

.lt-ie8  {

}

.lt-ie9 .sidebar_block {
    margin-bottom: 30px;
}

.lt-ie10 {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 946px) {

    #nav ul.menu li {
        margin-left: 1px;
    }

}

@media only screen and (max-width: 925px) {

    ul.home_search_tab_headings {
        height: 39px;
    }   

    ul.home_search_tab_headings li a:link,
    ul.home_search_tab_headings li a:visited {
        padding: 9px 12px;   
        font-weight: normal;
        font-size: 1em;
    }

    ul.home_search_tab_headings li.home_search_tab {
        font-size: 1em;
    }

    ul#job_title {
        padding-left: 165px;
    }

    ul#job_location {
        padding-left: 245px;
    }

    ul#organisation_type {
        padding-left: 324px;
    }

    ul#job_type {
        padding-left: 463px;
    }    

}

@media only screen and (max-width: 911px) {

    #nav ul.menu li {
        margin-left: 4px;
    }

    #nav .col_span_2_10,
    #nav .col_span_8_10 {
        width: 100%;
    }

    #nav .col_span_8_10 {
        margin-top: 20px;
    }

    #nav .col.col_span_2_10 {
        text-align: center;
    }

    #nav .col.col_span_8_10 {
        margin-left: 0;
    }    

}

@media only screen and (max-width: 900px) {

    #job_listing_meta .job_listing_meta_data {
        display: block;
        margin-left: 0;
    }  

}

@media only screen and (max-width: 830px) {

    #job_listing_meta .col_span_3_10 {
        width: 50%;
    }

    #job_listing_meta .col_span_7_10 {
        width: 50%;
    }
    
    #job_listing_meta .col.col_span_7_10 {
        margin-left: 0;
        text-align: right;        
    }

}

@media only screen and (max-width: 820px) {

    #home_search .col_span_3_10,
    #home_search .col_span_7_10 {
        width: 100%;
    }

    #home_search .col.col_span_3_10 {
        margin-top: 30px;
        margin-left: 0;
    }

    h2#home_bullets_header span {
        display: inline;
    }    

    h2#home_bullets_header {
        height: auto;
        line-height: 1.5;
    }

    h3#home_bullets_sub_header {
        margin-top: 20px;
    }

    ul#home_bullets {
        margin-top: 20px;
    }

    ul.home_search_tab_headings li.home_search_tab {
        font-size: 1.14285714285em; /*16/14*/
    }

    ul.home_search_tab_headings li a:link,
    ul.home_search_tab_headings li a:visited {
        padding: 9px 15px;   
        font-size: 1.14285714285em; /*16/14*/        
    }

    ul.home_search_tabs {
        min-height: 100%;
    }
    
    ul.home_search_tab_headings {
        height: auto;
    }

    ul#job_title {
        padding-left: 14px;
    }

    ul#job_location {
        padding-left: 105px;
    }

    ul#organisation_type {
        padding-left: 197px;
    }

    ul#job_type {
        padding-left: 358px;
    }

    ul.home_search_tab_headings li.home_search_tab {
        display: block;
        float: none;
    }

}

@media only screen and (max-width: 767px) {

    .wrap {
        padding-top: 0;
    }

    #login_bar {
        display: none;
    }

    #login_bar_mobile {
        display: block;
    }    

    #nav {
        display: none;
    }

    #nav_mobile {
        display: block;
    }
    
    #nav_mobile_menu {
        display: block;
    }

    .nav_mobile_icon {
        display: block;
    }    

    #nav_mobile_logo {
        display: block;
    }

    ul.job_listings img.job_listings_logo {
        position: relative;
        display: block;
        margin: 20px auto 0 auto;        
    }

    ul.ext_app_listings img.ext_app_listings_logo {
        position: relative;
        display: block;
        margin: 20px auto 0 auto;        
    }    

    #turfjobs_listings .sidebar_block {
        display: none;
    }

    .sidebar_block_app_mobile {
        display: block;
    }

    #turfjobs_listings .col_span_3_10,
    #turfjobs_listings .col_span_7_10 {
        width: 100%;
    }

    #turfjobs_listings .col.col_span_3_10,
    #turfjobs_listings .col.col_span_7_10 {
        margin: 0;
    }

    #turfjobs_listings .col.col_span_7_10 {
        margin-top: 30px;
    }    

    #home_content .col_span_2_10 {
        width: 100%;
    }    

    #home_content .col.col_span_2_10 {
        margin-top: 30px;
        margin-left: 0;
    }

    #home_content .col_span_2_10 img {
        display: block;
        margin: 0 auto;
    }      

    #home_content .col_span_4_10 {
        width: 48.9795918365%;
    }  

    #submit-job-form .col_span_3_10,
    #register_form .col_span_3_10 {
        width: 100%;
    }

    #submit-job-form .col_span_6_10,
    #register_form .col_span_6_10 {
        width: 80%;   
    }  

    #submit-job-form .col_span_1_10,
    #register_form .col_span_1_10 {
        width: 20%;   
    }  

    #submit-job-form .col.col_span_3_10,
    #submit-job-form .col.col_span_6_10,
    #submit-job-form .col.col_span_1_10,
    #register_form .col.col_span_3_10,
    #register_form .col.col_span_6_10,
    #register_form .col.col_span_1_10 {
        margin-left: 0;
    } 

    .employer_dashboard .button {
        display: block;
        text-align: center;
        margin-top: 5px;
    }

    .employer_dashboard .button:first-child {
        margin-top: 0;
    }    

    #home_banner h3 {
        text-align: left;
    }  

    #content_with_sidebar .col_span_7_10,
    #content_with_sidebar .col_span_3_10 {
        width: 100%;
    }

    .sidebar_block.first {
        margin-top: 30px;
    }

    #content_with_sidebar .col.col_span_3_10 {
        margin-left: 0;
    }    

    .visitor_feedback_widget p.visitor_feedback_widget_name {    
        margin-top: 0;
        clear: none;
    }

    .visitor_feedback_widget div.clearfix:after {
        clear: none;
    }

    .visitor_feedback_widget h3 {
        margin-top: 0;
    }

    .visitor_feedback_widget {
        margin-top: 1em;
    }

}

@media only screen and (max-width: 750px) {

    #job_listing_company_social a {
        float: left;        
        clear: both;
        margin-top: 10px;
    }

}

@media only screen and (max-width: 650px) {

    #home_banner .button {
        position: relative;
        border-radius: 3px;
        margin-top: 10px;
        display: block;
        text-align: center;        
    }

}


@media only screen and (max-width: 570px) {

    #job_listing_meta .col_span_3_10,
    #job_listing_meta .col_span_7_10 {
        width: 100%;
    }
    
    #job_listing_meta .col.col_span_7_10 {
        margin-top: 20px;
        text-align: left; 
    }

    #home_content .col_span_4_10 {
        width: 100%;
    }    

    #home_content .col.col_span_4_10 {
        margin-top: 30px;
        margin-left: 0;
    }  

    #home_content .col.col_span_4_10:first-child {
        margin-top: 0;
    } 

}

@media only screen and (max-width: 540px) {

    #footer .col_span_3_10,
    #footer .col_span_7_10 {
        width: 100%;
    }

    #footer .col.col_span_3_10,
    #footer .col.col_span_7_10 {
        text-align: center;
        margin: 0;
    }    

    #footer .col.col_span_7_10 {
        margin-top: 10px;
    }        

    #job_listing_content .col_span_7_10,
    #job_listing_content .col_span_3_10 {
        width: 100%;
    }

    #job_listing_content .col.col_span_3_10 {
        margin-left: 0;
    }  

    ul.home_search_tab_headings li a:link,
    ul.home_search_tab_headings li a:visited {
        padding: 9px 11px;
        font-size: 1em;   
    }

    ul.home_search_tab_headings {
        height: auto;
    }

    ul#job_title {
        padding-left: 12px;
    }

    ul#job_location {
        padding-left: 87px;
    }

    ul#organisation_type {
        padding-left: 164px;
    }

    ul#job_type {
        padding-left: 301px;
    }   

    .alignleft,
    .alignright {
        float: none;
        display: block;       
    }

    img.alignleft,
    img.alignright {
        margin: 0 auto 7px auto;
    }
}

@media only screen and (max-width: 420px) {

    ul.home_search_tab_headings li {
        float: none;
        font-size: 1.14285714285em; /*16/14*/
    }

    ul.home_search_tab_headings li a:link,
    ul.home_search_tab_headings li a:visited {
        display: block;
    }     

    ul.home_search_tabs {
        margin-top: 1px;
    }

    ul#job_title,
    ul#job_location,
    ul#organisation_type,
    ul#job_type {
        padding-left: 12px;
    }

    ul.home_search_tab_headings li.home_search_tab {
        background: #484848;
        color: #FFFFFF;
        padding-left: 12px;
        font-weight: normal;
        margin-bottom: 1px;
    }

    ul#job_title {
        -moz-column-count: auto; /* Firefox */
        -webkit-column-count: auto; /* Safari and Chrome */
        column-count: auto;   
    }

    ul#job_location {
        -moz-column-count: auto; /* Firefox */
        -webkit-column-count: auto; /* Safari and Chrome */
        column-count: auto;      
    }

}

@media only screen and (max-width: 340px) {

    #footer a {
        margin-left: 10px;
    }

}

@media only screen and (max-width: 340px) {

    #home_bullets_header {
        font-size: 1.17em;
    }

}

@media only screen and (max-width: 320px) {

    #footer a {
        display: block;
        margin-left: 0;
    }

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    #job_listing_company_twitter {

        background: url(img/company_twitter@2x.png) no-repeat;
        background-size: 24px;
    }

    #job_listing_company_facebook { 
        background: url(img/company_facebook@2x.png) no-repeat;
        background-size: 24px;
    }

    #job_listing_company_googleplus {
        background: url(img/company_googleplus@2x.png) no-repeat;
        background-size: 24px;
    }    

    .field_error_tick {
        background: url(img/tick@2x.png) 0 50% no-repeat;
        background-size: 15px;
    }

    .field_error_cross {
        background: url(img/cross@2x.png) 0 50% no-repeat;
        background-size: 15px;
    }     

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

#visitor_feedback_widget_carousel {
    position: relative;
    overflow: auto;
    margin-bottom: 20px;
}

#visitor_feedback_widget_carousel li {
    list-style: none;
}

#visitor_feedback_widget_carousel ul li {
    float: left;
}